*{
        margin: 0;
        font-family: sans-serif;
}
body{
        background-color: antiquewhite;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}
header{
        border-bottom: 4px solid;
        border-top: 4px solid;
        text-align: center;
        margin-top: 30px;
        padding: 10px;
        background-color: brown;
}
header h1{
        text-shadow: 3px 2px 2px rgba(0,0,0,0.5);
}
.peze{
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        
}
.aff-reg{
        align-self: center;
        font-weight: 700;
        height: 30px;
        width: 80px;
        margin-top: 3px;
        border-radius: 5px;
        background-color: brown;
}
.but{
        display: flex;
        flex-direction: column;
        
        
}
.reg-h1{
   margin-left: 5px;
   font-weight: 700;
}
.reg{
        margin-left: 35px;
}
.reg span{
        display: inline-block;
        padding: 4px;
        background-color: rgb(51, 10, 10);
        border-radius: 50%;
        margin-right: 2px;
        border: 2px solid;
}
.les-règles{
        border: solid;
        margin:40px;
        padding: 30px;
        border-radius: 100px;
        background-color: rgba(165, 42, 42, 0.566);
        display: none;
}

.jeux{
        
        margin: 50px 30px 0 30px ;
        background-color: rgba(144, 27, 27, 0.149);
        box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding:0 ;
        margin-bottom: 10px;

}
main{
        flex: 1;

        
}
.vie{
        border: 2px solid;
        border-radius: 10px;
        margin-left: 2px;
        display: inline-block;
        padding: 5px;
        background-color: rgba(174, 47, 47, 0.57); 
        width: 90px;
}
.kantite-vie{
        font-weight: bold;
}
.affichage{
        align-self: center;
        font-size: 60px;
        border: 2px solid;
        margin-top: 20px;
        background-color: rgba(226, 62, 21, 0.267);
        text-align: center;
        border-radius: 80px;
        padding: 10px;
        
}
input{
        
        width: 60px;
        height: 40px;
        display: block;
        align-self: center;
        text-align: center;
        margin-top: 2px;
        font-size: 18px;
        
}
input:focus{
        border-color: rgb(188, 19, 19);
}
label{
        display: inline;
      margin-top: 20px;
        text-align: center;
}

.btn,.butn{
        display: block;
        border: solid;
       height: 30px;
       border: 4px solid brown;
       margin-top: 20px;
       margin: 10px;
       font-weight: bold;
    
       
        
}
.butn{
        display: none;
}
.btn:active{
        transform: scale(0.99);
        transition: 0.5s;
}
footer{
       width: 100%;
       background-color: rgb(159, 49, 49);
       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       height: 50px;
       
}
.rep-a-uti{
        box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
        align-self: flex-end;
        margin-right: 20px;
        padding-right: 5px;
        margin-top: 5px;
        margin-left: 10px;
}
